body{
    background-color: #ecf0f1;
}

.titulo{
    text-transform: uppercase;
}


.card-header{
    color: white;
}

.card-tareas{
    min-height: 250px;
}

.btn-agregar{
    color: white;
}

.btn-agregar-pendiente{
    color: white;
}


.pendiente{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.proceso{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.hecho{
    display: flex;
    justify-content: space-between;
    align-items: center;
}


.bg-warning{
    text-decoration: none;
}


.bg-danger{
    text-decoration: none;
}

.bg-success{
    text-decoration: none;
}

h1{
    font-family: 'Righteous', cursive;
}

i{
    font-size: 25px;
    color: #95a5a6;
}

a{
    text-decoration: none;
}